<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIW Order -Nuova Portata</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body class="background">

    <div th:insert="~{/staff/waiterMenu.html :: header}"> </div>

    <main>
        <div class="evenly-spacer">
            <div class="long box">
                <div class="column">
                    <img class="whide hoverable"  th:src="@{'data:image;base64,' + ${item.imageString}}" style="border-radius: 5px;">
                </div>
                
                <form method="POST" th:action="@{/admin/editItem/{id}(id=${item.id})}" th:object="${item}" class="column whide" enctype="multipart/form-data">
                <h2 class="title">Modifica Portata</h2>
            
                <div class="input-content">
                    <input type="text" placeholder="Nuovo Nome Portata" class="form-input" th:field="${item.description}">
                    <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                
                    <input type="text" placeholder="Nuovo Prezzo" class="form-input" th:field="${item.price}">
                    <span class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                
                    <div class="file-input form-input column">
                        <input type="file" th:name="image">
                    </div>
               </div>
               
                <input type="submit" class="submit">
                
                <div th:if="${#fields.hasGlobalErrors()}">
                   <h3 class="error" th:each="err:${#fields.globalErrors()}" th:text="${err}">Errore</h3>
                </div>
                </form>
        
            </div>
        </div>
    </main>

</body>

</html>