<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIW Order -Rimuovi Membri Staff</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body class="background">

    <div th:insert="~{/staff/waiterMenu.html :: header}"> </div>

    <main style="margin-top: 1%;">
        <div class="evenly-spacer">
            <h1 th:if="!${users.isEmpty()}" class="title">Tutti i Membri dello Staff</h1>
            <h1 th:unless="!${users.isEmpty()}" class="title">Non ci sono Membri dello Staff</h1>
        </div>

        <div style="overflow-x: scroll; margin-top: 10%;">
            <div style="display: flex;">

                <a th:each="user: ${users}" th:href="@{'/admin/removeUser' + '/' + ${user.id} }" class="link">
                    <div class="hoverable small box lateral-margin">
                        <h2 th:text="${user.name} + ' ' + ${user.surname}">Nome Cognome</h2>
                        <div class="column">
                            <div>
                                <hr>
                                <h2 th:text="${user.email}" style="font-size: 1rem;"></h2>
                                <h2 th:text="'Username: '+${user.credentials.username}" style="font-size: 1rem;"></h2>
                                <h2 th:text="'Ruolo: '+${user.credentials.role}" style="font-size: 1rem;"></h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </main>

</body>

</html>