<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIW Order -Staff Menu</title>
    <link rel="stylesheet" th:href="@{css/stile.css}">
</head>

<body class="background">

    <header style="display: flex; justify-content: center;">
        <a th:href="@{/index}" class="title">SIW Order Management</a>
    </header>

    <main>
        <div class="evenly-spacer">
            <a th:href="@{/formNewOrder}" class="link">
                <div class="box hoverable">
                    <h2 class="title">Nuova Ordinazione</h2>
                    <img th:src="@{/svgs/food.svg}" class="whide">
                </div>
            </a>
            <a th:href="@{/formPayment}" class="link">
                <div class="box hoverable">
                    <h2 class="title">Vai Al Pagamento</h2>
                    <img th:src="@{/svgs/payment.svg}" class="whide">
                </div>
            </a>

        </div>
    </main>