<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIW Order -Pagamento Ordini</title>
    <link rel="stylesheet" href="stile.css">
</head>

<body class="background">

    <header style="display: flex; justify-content: center;">
        <a th:href="@{/index}" class="title">SIW Order Management</a>
    </header>

    <main class="evenly-spacer" style="margin-top: 1%;">
        <div class="tall column box">
            <h2 class="title">Cerca Ordini</h2>

            <form method="GET" action="@{/searchOrders}" class="evenly-spacer">
                <input type="text" class="form-input" placeholder="Numero del Tavolo" style="margin: 0%;" th:name="tableNumber">
                <input type="submit" class="submit" value="Cerca" style="height: 50px;">
            </form>

            <div class="orderbox">
                <div class="between-spacer" th:each="order: ${orders}">
                        <h2 style="color: rgba(49, 49, 49, 0.884);" th:text="'Tavolo: '+ ${order.tableNumber} + ' Totale: ' + ${order.total}+' £'">Ordine Tavolo: Totale: €</h2>
                        <a th:if="${orders}" th:href="@{'/toPayment/'+ ${order.tableNumber}}" class="link">
                            <button>Pagamento</button>
                        </a>
                </div>
            </div>

        </div>
    </main>

</body>

</html>