<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIW Order -Pagamento Ordine</title>
    <link rel="stylesheet" th:href="@{/stile.css}">
</head>

<body class="background">

    <header style="display: flex; justify-content: center;">
        <a th:href="@{/index}" class="title">SIW Order Management</a>
    </header>

    <main class="evenly-spacer" style="margin-top: 1%;">
        <div class="tall column box">
                <h2 class="title">Pagamento Ordine</h2>

                <div class="orderbox">
                    <h2 th:text="'Numero Tavolo: ' + ${tableNumber}">Numero Tavolo</h2>
                    <hr>
                    <div th:each="orderLine: ${orderLines}">
                        <h2 th:text="${orderLine.item.description} + ' ' + ${orderLine.quantity}">Nome Portata</h2>
                    </div>
                </div>

                <div class="width">
                    <h2 th:text="'Totale Ordine: ' + ${total}">Totale: Prezzo</h2>
                </div>

                <div class="evenly-spacer">
                    <a th:href="@{'/payOrder/'+ ${tableNumber}}" class="link">
                        <button>Paga Ordine</button>
                    </a>
                </div>

            </div>
    </main>

</body>

</html>