<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIW Order -Tutti i Membri Staff</title>
    <link rel="stylesheet" th:href="@{/stile.css}">
</head>

<body class="background">

    <header style="display: flex; justify-content: center;">
        <a th:href="@{/index}" class="title">SIW Order Management</a>
    </header>

    <main style="margin-top: 1%;">
        <div class="evenly-spacer">
            <h1 th:if="!${staff.isEmpty()}" class="title">Tutti i Membri dello Staff</h1>
            <h1 th:unless="!${staff.isEmpty()}" class="title">Non ci sono Membri dello Staff</h1>
        </div>

        <div style="overflow-x: scroll; margin-top: 10%;">
            <div style="display: flex;">

                <a th:each="member: ${staff}" th:href="@{'/staff' + '/' + ${member.id} }" class="link">
                    <div class="hoverable small box lateral-margin">
                        <img th:src="${member.urlImage}" class="nano">
                        <h2 th:text="${member.name} + ' ' + ${member.surname}">Nome Cognome</h2>
                    </div>
                </a>
            </div>
        </div>

    </main>

</body>

</html>